
.tag{
    background-color: #FF6060;
    border-radius: 8px;
    color: white;
    padding: 7px;
    font-size: 10px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}
.tag:hover{
    background-color: #C06060;
}

.tag {cursor: pointer;}

.tag-div ul{
    display: flex;
}